* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgrey;
    }
h1 {
    color: blueviolet;
}
h2 {
    color: crimson;
}
<<<<<<< HEAD
 h3 {
     text-align: center;
 }
 h4{
     text-transform: uppercase;
     text-align: center;
 }
=======

h3 {
    text-align: center;
    text-transform: uppercase;
}
h4 {
    text-align: center;
    }

>>>>>>> rama_dos
.img {
    width: 300px;
    height: 300px;
}
div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
<<<<<<< HEAD
    margin: 25px auto ;
=======
    margin: 25px auto;
>>>>>>> rama_dos
}