* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgrey;
    }
h1 {
    color: blueviolet;
}
h2 {
    color: crimson;
}

h3 {
    text-align: center;
    text-transform: uppercase;
}
h4 {
    text-align: center;
    }

.img {
    width: 300px;
    height: 300px;
}
div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 25px auto;
}